/.vscode
/PatientPlanner/obj
/PatientPlanner/bin
/PatientPlanner/PP.db
/PatientPlanner/PP.db-shm
/PatientPlanner/PP.db-wal
/PatientPlanner/node_modules
/PatientPlanner/patientplanner-1d025-firebase-adminsdk-a0pus-d3041de2cf.json
