html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.time-column {
  width: 40px;
}

#add-patient-form{
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:white;
}

.time-period {
  appearance: none;
}

#nav-patients {
  list-style-type: none;
  padding: 0;
  overflow: auto;
}

#nav-patients li {
  display: inline;
  border-radius: 0px 7px 7px 0px;
  border: 2px solid #dad0d0;
  border-left: none;
  padding: 0px 10px 0px 10px;
  margin-left: -2px;
}

#nav-patients li:first-child {
  border-radius: 7px;
  border-left: 2px solid #dad0d0;
  margin-left: 0px;
}

#nav-patients li:last-child:hover {
  cursor: pointer;
}

#nav-patients li:last-child p {
  margin-top: 4px;
  margin-bottom: 0;
}

#settings-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

#panel-settings {
  padding-top: 10px;
  padding-bottom: 10px;
}

.active {
  background-color: #249fd8;
}

.reminders>* {
  background-color: rgb(255, 234, 0, 0.75);
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 7px 7px 7px 7px;
}

.critical-warning {
  background-color: rgba(255, 30, 0, 0.75);
}

.critical-warning>p {
  margin: 0;
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
