@page
@model PatientPlanner.Pages.Devices.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Device.PushEndpoint" class="control-label"></label>
                <input asp-for="Device.PushEndpoint" class="form-control" />
                <span asp-validation-for="Device.PushEndpoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.PushP256DH" class="control-label"></label>
                <input asp-for="Device.PushP256DH" class="form-control" />
                <span asp-validation-for="Device.PushP256DH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.PushAuth" class="control-label"></label>
                <input asp-for="Device.PushAuth" class="form-control" />
                <span asp-validation-for="Device.PushAuth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
