@page
@model PatientPlanner.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<script language="JavaScript" type="text/javascript" src="~/js/HidePage.js?n=4"></script>
<script language="JavaScript" type="text/javascript" src="~/js/CreateDevice.js?n=2"></script>

@Html.AntiForgeryToken()

<input id="PushEndpoint" name="PushEndpoint" readonly required hidden />
<input class="PushP256DH" name="PushP256DH" readonly required hidden />
<input id="PushAuth" name="PushAuth" readonly required hidden />

@* Contains *@
<div>
    <h2>Time period</h2>
    <div>
        <select id="start-time-period" class="time-period" asp-items="@(new SelectList(Model.timesList))"></select> -
        <select id="end-time-period" class="time-period" asp-items="@(new SelectList(Model.timesList))"></select>
    </div>
</div>

<hr>

<div>
    <h2>Tasks</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* loop over task list *@
        </tbody>
    </table>
</div>

<script>

</script>

